.aboutNav{
    background-color: #000000bf !important;
    height: 90vh !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}